@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-Black.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

$background-color: #FCFCFC;
$primary-color: #171717;
$secondary-color: #F8F8F8;
$border: 1px solid hsl(0, 0%, 90.9%);
$border-radius: 10px;
$ff: 'Inter', Arial, Helvetica, sans-serif;
$btn-color: #2e2e2e;
$red-color: #DE035E;
$green-color: #51E3C2;




body {
    background-color: $background-color;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    padding: 0;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0 auto;
    color: $primary-color;
    font-family: $ff;
}

.form {
    display: flex;
    justify-content: center;
    width: 100%;
}

.form__input {
    padding: 3px 15px;
    width: 500px;
    border: $border;
    border-radius: $border-radius;
    font-size: 24px;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 6%), 0 1px 0 0 rgb(0 0 0 / 8%), 0 2px 2px 0 rgb(0 0 0 / 4%), 0 3px 3px 0 rgb(0 0 0 / 2%), 0 4px 4px 0 rgb(0 0 0 / 1%);
}

.form__input::placeholder {
    font-family: $ff;
}

.form__input:focus {
    outline: none;
}

.btn {
    background-color: $btn-color;
    border-radius: $border-radius;
    color: $secondary-color;
    font-family: $ff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 6%), 0 1px 0 0 rgb(0 0 0 / 8%), 0 2px 2px 0 rgb(0 0 0 / 4%), 0 3px 3px 0 rgb(0 0 0 / 2%), 0 4px 4px 0 rgb(0 0 0 / 1%);
}

.btn-form {
    margin-left: 5px;
    min-width: 70px;
    background: linear-gradient(156deg, #fff, #f0f0f0);
    color: $primary-color;
    font-weight: 500;
}

.list {
    padding: 0;
    margin: 0;
    margin-top: 100px;
    width: 100%;
    list-style: none;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border: $border;
    border-radius: $border-radius;

    box-shadow: 0 0 0 1px rgb(0 0 0 / 6%), 0 1px 0 0 rgb(0 0 0 / 8%), 0 2px 2px 0 rgb(0 0 0 / 4%), 0 3px 3px 0 rgb(0 0 0 / 2%), 0 4px 4px 0 rgb(0 0 0 / 1%);
}

.item:not(:last-child) {
    margin-bottom: 20px;
}

.item__text {
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-weight: 500;
}

.btn-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
}

.btn-delete,
.btn-done {
    padding: 3px 8px;
    color: $primary-color;
    min-width: 75px;
}

.btn-delete {
    margin-top: 6px;
    background: linear-gradient(156deg, $red-color, #fd7c7c);
}

.btn-done {
    background: linear-gradient(156deg, $green-color, #3effa5);
}

.item-done {
    background-color: $green-color;
    transition: background-color .2s ease-in;
}

.item-default {
    background-color: $secondary-color;
    transition: background-color .2s ease-out;
}